@import 'main.sass';

h1 {
        font-weight: bolder;
        height: 50px;
}
    
h3 {
    font-weight: normal;   
}

.wooden {
    height: 10px;
}

.cost {
    font-size: 50pt;
    color: aquamarine;
}

.clock {
    margin-left: 10px;
    /*height: 100px;*/
    padding-bottom: 3px;
}

.laura {    
    display: flex;
    justify-content: center;
    align-items: center
}

.laura_p {
    font-weight: bold;
    padding-right: 2px;
    padding-bottom: 10px;
}

.div_clock {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center
}

.btn_div {
    margin-top: 20px;
}

.btn_accept {
    border: 0px;
    width: 176px;
    height: 50px;
    font-size: 20px;
    color: white;
    background: url('../assets/btnOverlayCopy3/btnOverlayCopy3.png');
}

.btn_decline {
    border: 0px;
    width: 176px;
    height: 50px;
    font-size: 20px;
    color: white;
    background: url('../assets/btnOverlayCopy2/btnOverlayCopy2.png');
}